body {
    background-color: darkolivegreen;
    color: blanchedalmond;
    font-family: Verdana, Calibri, sans-serif;
    
}

header {position: fixed;
    width: 80%;
   text-align: center;
}

h2 {
    color: coral;
    text-transform: uppercase;
   padding: 10px;
    text-shadow: 3px 3px 5px #666
}

#special {
    background-color: #333333;
     padding: 10px 10px 10px 10px;
    overflow: auto
   
    
    
}

h3 {background-color: darkgoldenrod;
opacity: 0.6;
    border-bottom-left-radius: 80px;
    border-top-left-radius: 80px;
    border-bottom-right-radius: 80px;
    border-top-right-radius: 80px;
    padding: 20px 20px;
}

.feature {
    color: #ffffff;
   
}

h1 h2 {
    font-family: Georgia, "Times New Roman", serif;
    
}

footer {
    font-style: italic;
    font-size: .80em;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    text-align: center;
        
}

div a {float: right;
    height: 105%
}
a {
    text-decoration: none;
    font-weight: bold
}
ul {list-style-type: square}
#background {background-image:url(images/computer.jpg.png);
     background-repeat: no-repeat;
    background-position: right;;
    padding: 15px 15px;
   background-color:darkslateblue;
    color: firebrick;
    margin: 10px 10px 10px 10px;
    width: 100%
    
        
   
}

main {padding: 70px 10px;
margin-left: auto;
    margin-right: auto;
    width: 80%;
}

p {box-shadow: 5px 5px 5px #666}