body {
    background-color: #002514;
    color: #d09e5d;
    font-family: Verdana, Calibri, sans-serif;
    background-image: linear-gradient(to bottom, #22754f, #002514);
    background-repeat: no-repeat;
    max-width: 1600px;
    max-height: 900px;
}

h1 {
    color: #51001a;
}

header {
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    background-color: #d09e5d;
    padding-top: 20px;
    padding-bottom: 20px
}

h2 {
    color: #51001a;
    text-transform: uppercase;
    padding: 10px;
    text-shadow: 3px 3px 5px #666
}

#special {
    padding: 10px 10px 10px 10px;
}

h3 {
    color: #51001a;
    text-transform: uppercase;
    padding: 10px;
    text-shadow: 3px 3px 5px #666;
    font-family: arial, Verdana, sans-serif;
}

.feature {
    color: #ffffff;
}

h1 h2 {
    font-family: arial, Verdana, sans-serif;
}

footer {
    font-style: italic;
    font-size: .80em;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    text-align: center;
    padding-top: 30px;
}

div a {
    float: right;
    margin: 10px;
}

a {
    text-decoration: none;
    font-weight: bold
}

ul {
    list-style-type: square
}

#background {
    padding: 20px 20px;
    margin: 10px 10px 10px 10px;
    width: 90%;
}

main {
    padding: 40px 10px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    margin-top: 30px;
    box-shadow: 5px 5px 5px #666;
    border-bottom-right-radius: 80px;
    border-top-right-radius: 80px;
    border-bottom-left-radius: 80px
}

footer a:link {
    color: #9c234e
}